<p id="notice"><%= notice %></p>

<h1>Rooms</h1>


  <body>
    <div class="row rooms">
    <div class="col s12 m6 offset-s6 offset-m3">
    <% @rooms.each do |room| %>
      <div>
      <%= cl_image_tag room.image, :width => 400, :height => 400 %>
      </div>
      <p><%= room.description %></p>
      <p><%= room.accommodates %></p>
      <p><%= room.bathrooms %></p>
      <p><%= room.price %></p>
      <p><%= room.kitchen %></p>
      <p><%= room.internet %></p>
      <p><%= room.pets %></p>
      <p><%= room.user.firstname %></p>
      <p><%= room.name %></p>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <%end%>
      </div>
    </div>
  </body>
