<p id="notice"><%= notice %></p>

<p>
  <strong>Images:</strong>
  <%= @room.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Accommodates:</strong>
  <%= @room.accommodates %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @room.bathrooms %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>Kitchen:</strong>
  <%= @room.kitchen %>
</p>

<p>
  <strong>Internet:</strong>
  <%= @room.internet %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @room.pets %>
</p>

<p>
  <strong>User:</strong>
  <%= @room.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
